@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Sports News Web Application</h1>

<div class="container text-center" style="margin-top: 50px">
    <div class="row justify-content-center">
        <!-- Admin Card -->
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/admin.png" class="card-img-top" alt="Admin Image" style="height: 250px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Admin Page</h5>
                    <p class="card-text">Manage notifications and users from the Admin Panel.</p>
                    <a href="/Admin" class="btn btn-primary" target="_blank">Go to Admin Page</a>
                </div>
            </div>
        </div>

        <!-- User Card -->
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="~/images/user.png" class="card-img-top" alt="User Image" style="height: 250px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">User Page</h5>
                    <p class="card-text">View the latest sports news and notifications here.</p>
                    <a href="/Users" class="btn btn-success" target="_blank">Go to User Page</a>
                </div>
            </div>
        </div>
    </div>
</div>


