@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Sports News Web Application</h1>

<div class="container text-center">
    <div class="row">
        <div class="col">
            <a href="/Admin" class="btn btn-primary">Admin Page</a>
        </div>
        <div class="col">
            <a href="/Users" class="btn btn-success">User Page</a>
        </div>
    </div>
</div>
