@{
    ViewData["Title"] = "Users";
}
<h1>Sports News for Users</h1>

<p>Enjoy the latest sports news below:</p>
<img src="/images/sports-news.jpg" alt="Sports News" />


<!-- Include the polling script for notifications -->
@await Html.PartialAsync("PollingScript")
